<a href="https://colab.research.google.com/github/brayanricardo13/Analisis-Econometrico/blob/main/Modelador_estadistico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
from openpyxl import workbook , load_workbook 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf # Regresion multiple

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [105]:
Bolivar = pd.read_excel("/content/drive/MyDrive/U CENTRAL ECONOMÍA/PRACTICAS/GRUPO BOLIVAR/base_prueba (1).xlsx", sheet_name="Hoja 1",header=0, index_col=None) 
Bolivar.head()

,ID,F_FECHAAVALUO,TOT_BANOS,DEPOSITO,HABITACIONES,ESTRATO,TOTALGARAJES,PISOS,SOTANOS,ANTIGUEDAD,EDIPISO,IDCATEGORIA,ASCENSOR,LATITUD,LONGITUD,LOCALIDAD,BARRIO,AREA_PRIVADA,AREA_PRIVADA_VALFINAL
0,1,2016-01-05,1,0,2,2,0,2,0,0,2.0,Casa,0,4.518112,-74.090000,SAN CRISTOBAL,YOMASA,39.661019,1.737997e+08
1,2,2016-01-05,1,0,2,2,0,2,0,0,2.0,Casa,0,4.518112,-74.090000,SAN CRISTOBAL,YOMASA,39.401477,1.743664e+08
2,3,2016-01-05,1,0,2,2,0,2,0,0,2.0,Casa,0,4.518112,-74.091686,SAN CRISTOBAL,YOMASA,39.420774,1.831345e+08
3,4,2016-01-05,1,0,2,3,0,24,0,0,NaN,Apartamento,1,4.583075,-74.168148,CIUDAD BOLIVAR,EL PENON DEL CORTIJO,37.464301,2.253010e+08
4,5,2016-01-05,1,0,2,2,0,6,0,0,2.0,Apartamento,0,4.525112,-74.087588,SAN CRISTOBAL,JUAN REY (LA PAZ),37.690574,1.759704e+08

In [ ]:
Bolivar.info()

In [ ]:
Bolivar.describe()

**Avaluo del Inmueble**
\begin{equation}
Avaluo = β_1(N_{Habitaciones})+β_2(N_{Baños})+β_3(Estrato)+β_4(N_{Garajes})+β_5(N_{Pisos})+β_5(N_{Antiguedad})+β_6(N_{ ascensores})
\end{equation}

In [ ]:
Bolivar=Bolivar.corr(method="spearman") 
sns.heatmap(Bolivar,annot=True) # Diagrama de correlacion

In [ ]:
corr_matrix = Bolivar.corr(method='pearson')
corr_matrix

In [ ]:
est = smf.ols(formula='Bolivar["AREA_PRIVADA_VALFINAL"]~ Bolivar["ESTRATO"] + Bolivar["HABITACIONES"]+ Bolivar["TOTALGARAJES"]+Bolivar["EDIPISO"]+Bolivar["ASCENSOR"]', data = Bolivar ).fit() # regresion lineal 
est.summary()