<a href="https://colab.research.google.com/github/brayanricardo13/Analisis-Econometrico/blob/main/Opcion_de_Grado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Datos abiertos colombia**

In [ ]:
pip install leila # Gov.co

In [10]:
from leila.reporte import generar_reporte 
from leila.calidad_datos import CalidadDatos
from leila import datos_gov
from leila.datos_gov import DatosGov

In [ ]:
inventario = DatosGov().tabla_inventario()

# **Buscar Datos**

In [18]:
filtro = {
    "nombre": ["economia", "ambiente"],
    "tipo": ["conjunto de datos"]
}
inventario = DatosGov().tabla_inventario(filtro=filtro)

In [ ]:
inventario

# **Buscar Datos con la API**

In [20]:
numero_api = "etwv-wj8f"
data = DatosGov().cargar_base(api_id = numero_api, limite_filas=200)
datos = data.to_dataframe()
datos

     unnamed_column     departamento  pueblos_indigenas
0               NaN         AMAZONAS           KAWIYARI
1               NaN         AMAZONAS              SIONA
2               NaN         AMAZONAS              YAGUA
3               NaN         AMAZONAS           BARASANO
4               NaN         AMAZONAS            LETUAMA
..              ...              ...                ...
195             NaN  VALLE DEL CAUCA       EMBERA CHAMI
196             NaN  VALLE DEL CAUCA  EPERARA SIAPIDARA
197             NaN  VALLE DEL CAUCA               NASA
198             NaN  VALLE DEL CAUCA              PASTO
199             NaN  VALLE DEL CAUCA            WAUNANN

[200 rows x 3 columns]