<a href="https://colab.research.google.com/github/brayanricardo13/Analisis-Econometrico/blob/main/Opcion_de_Grado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Datos abiertos colombia**

In [ ]:
pip install leila # Gov.co

In [10]:
from leila.reporte import generar_reporte 
from leila.calidad_datos import CalidadDatos
from leila import datos_gov
from leila.datos_gov import DatosGov

In [ ]:
inventario = DatosGov().tabla_inventario()

# **Buscar Datos**

In [18]:
filtro = {
    "nombre": ["economia", "ambiente"],
    "tipo": ["conjunto de datos"]
}
inventario = DatosGov().tabla_inventario(filtro=filtro)

In [ ]:
inventario

# **Buscar Datos con la API**

In [22]:
numero_api = "32sa-8pi3"
data = DatosGov().cargar_base(api_id = numero_api)
datos = data.to_dataframe()
datos

        valor unidad vigenciadesde vigenciahasta
0     2850.98    COP    2002-10-09    2002-10-09
1     2854.04    COP    2002-10-10    2002-10-10
2     2870.63    COP    2002-10-11    2002-10-11
3     2861.16    COP    2002-10-12    2002-10-15
4     2852.99    COP    2002-10-16    2002-10-16
...       ...    ...           ...           ...
7339  3799.50    COP    2022-06-07    2022-06-07
7340  3790.88    COP    2022-06-08    2022-06-08
7341  3782.65    COP    2022-06-09    2022-06-09
7342  3833.34    COP    2022-06-10    2022-06-10
7343  3912.51    COP    2022-06-11    2022-06-13

[7344 rows x 4 columns]