<a href="https://colab.research.google.com/github/brayanricardo13/Analisis-Econometrico/blob/main/Super_Servicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from openpyxl import workbook , load_workbook 
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
Superservicios = pd.read_excel("/content/drive/MyDrive/U CENTRAL ECONOMIÃÅA/PRACTICAS/PRUEBAS /SUPER SERVICIOS/base.xlsx", sheet_name="Base",header=0, index_col=None) 
Superservicios.head()

,CAR_T1555_DANE,CAR_T1555_UBICACION,CAR_T1555_FCH_INI_PERIODO,CAR_T1555_FCH_FIN_PERIODO,CAR_T1555_SECTOR_CONSUMO,CAR_T1555_TIPO_LECTURA,CAR_T1555_LECTURA_ANT,CAR_T1555_LECTURA_ACT,CAR_T1555_FACTOR_CORRECCION,CAR_T1555_CONSUMO,...,CAR_T1555_REVISION_INTERNA,CAR_T1555_FCH_REVISION_INT,CAR_T1555_OTROS,CAR_T1555_FCH_MAXIMA_PAGO,CAR_T1555_FCH_SUSPENSION,CAR_T1555_TOTAL_FACTURA,CAR_T1555_PREDIAL_UTILIZADO,CAR_T1555_NUMERO_PREDIAL,CAR_T1555_HOGAR_COMUN_SUST,CAR_T1555_VIVIENDA_INT_PRIOR
0,8001000,U,01-12-2021,30-12-2021,1,R,6360.0,6391.0,0.996,31.0,...,0.0,NaN,52374.0,22-01-2022,23-01-2022,94747.0,2.0,080010106000001680020000000000,2.0,2.0
1,47001000,U,28-11-2021,28-12-2021,3,R,8670.0,8698.0,0.998,28.0,...,0.0,NaN,31948.0,21-01-2022,22-01-2022,101794.0,3.0,NaN,2.0,2.0
2,47001000,U,28-11-2021,28-12-2021,1,R,3018.0,3020.0,0.998,2.0,...,0.0,NaN,124516.0,21-01-2022,22-01-2022,126405.0,3.0,NaN,2.0,2.0
3,8001000,U,27-11-2021,27-12-2021,2,R,6263.0,6276.0,0.996,13.0,...,0.0,NaN,3646.0,18-01-2022,19-01-2022,19012.0,2.0,080010106000004240034000000000,2.0,2.0
4,8296000,U,17-12-2021,15-01-2022,1,R,4534.0,4547.0,0.996,13.0,...,0.0,NaN,104963.0,04-02-2022,05-02-2022,117901.0,3.0,NaN,2.0,2.0

In [4]:
Superservicios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CAR_T1555_DANE                1000 non-null   int64
 1   CAR_T1555_UBICACION           982 non-null    object
 2   CAR_T1555_FCH_INI_PERIODO     1000 non-null   object
 3   CAR_T1555_FCH_FIN_PERIODO     995 non-null    object
 4   CAR_T1555_SECTOR_CONSUMO      989 non-null    object
 5   CAR_T1555_TIPO_LECTURA        986 non-null    object
 6   CAR_T1555_LECTURA_ANT         996 non-null    float64
 7   CAR_T1555_LECTURA_ACT         994 non-null    float64
 8   CAR_T1555_FACTOR_CORRECCION   989 non-null    float64
 9   CAR_T1555_CONSUMO             996 non-null    float64
 10  CAR_T1555_FACTU_CARGO_FIJO    994 non-null    float64
 11  CAR_T1555_CARGO_CONSUMO       1000 non-null   float64
 12  CAR_T1555_FACTU_CONSUMO       996 non-null    float64
 13  CAR_T1555_VALOR_REFACTURAM3   1000 non-null   float64
 14  CAR_T1555_VALOR_REFACTURA$    1000 non-null   float64
 15  CAR_T1555_VALOR_MORA_ACUM     995 non-null    float64
 16  CAR_T1555_INTERES_MORA_ACU    995 non-null    float64
 17  CAR_T1555_SANCIONES           1000 non-null   float64
 18  CAR_T1555_VALOR_SUBS_CONTR    999 non-null    float64
 19  CAR_T1555_PORC_SUBS_CONTR     994 non-null    float64
 20  CAR_T1555_CONEXION            999 non-null    float64
 21  CAR_T1555_INTERES_FINCONX     995 non-null    float64
 22  CAR_T1555_SUSPEN_RECONEX      995 non-null    float64
 23  CAR_T1555_CORTE_REINSTAL      995 non-null    float64
 24  CAR_T1555_REVISION_INTERNA    995 non-null    float64
 25  CAR_T1555_FCH_REVISION_INT    0 non-null      float64
 26  CAR_T1555_OTROS               1000 non-null   float64
 27  CAR_T1555_FCH_MAXIMA_PAGO     985 non-null    object
 28  CAR_T1555_FCH_SUSPENSION      993 non-null    object
 29  CAR_T1555_TOTAL_FACTURA       998 non-null    float64
 30  CAR_T1555_PREDIAL_UTILIZADO   995 non-null    float64
 31  CAR_T1555_NUMERO_PREDIAL      178 non-null    object
 32  CAR_T1555_HOGAR_COMUN_SUST    996 non-null    float64
 33  CAR_T1555_VIVIENDA_INT_PRIOR  988 non-null    float64
dtypes: float64(25), int64(1), object(8)
memory usage: 265.8+ KB

In [5]:
Superservicios.describe()

,CAR_T1555_DANE,CAR_T1555_LECTURA_ANT,CAR_T1555_LECTURA_ACT,CAR_T1555_FACTOR_CORRECCION,CAR_T1555_CONSUMO,CAR_T1555_FACTU_CARGO_FIJO,CAR_T1555_CARGO_CONSUMO,CAR_T1555_FACTU_CONSUMO,CAR_T1555_VALOR_REFACTURAM3,CAR_T1555_VALOR_REFACTURA$,...,CAR_T1555_INTERES_FINCONX,CAR_T1555_SUSPEN_RECONEX,CAR_T1555_CORTE_REINSTAL,CAR_T1555_REVISION_INTERNA,CAR_T1555_FCH_REVISION_INT,CAR_T1555_OTROS,CAR_T1555_TOTAL_FACTURA,CAR_T1555_PREDIAL_UTILIZADO,CAR_T1555_HOGAR_COMUN_SUST,CAR_T1555_VIVIENDA_INT_PRIOR
count,1.000000e+03,996.000000,9.940000e+02,989.000000,996.000000,994.000000,1000.00000,9.960000e+02,1000.000000,1000.000000,...,995.0,995.0,995.0,995.0,0.0,1000.000000,9.980000e+02,995.000000,996.000000,988.000000
mean,1.751157e+07,2223.991968,1.317496e+04,0.996948,46.312249,1269.575453,2066.77900,9.468014e+04,-0.018000,-81.109000,...,0.0,0.0,0.0,0.0,NaN,43422.396000,1.299628e+05,2.821106,2.012048,2.001012
std,1.637441e+07,2654.941666,3.135588e+05,0.014072,1026.658782,1856.413286,748.38744,1.996790e+06,0.736355,1524.103339,...,0.0,0.0,0.0,0.0,NaN,66566.295381,1.995222e+06,0.383457,0.126234,0.159149
min,8.001000e+06,0.000000,0.000000e+00,0.995000,0.000000,0.000000,0.00000,0.000000e+00,-14.000000,-33787.000000,...,0.0,0.0,0.0,0.0,NaN,0.000000,-1.183600e+04,2.000000,1.000000,1.000000
25%,8.001000e+06,501.000000,5.152500e+02,0.996000,5.000000,0.000000,2269.00000,1.180100e+04,0.000000,0.000000,...,0.0,0.0,0.0,0.0,NaN,3464.750000,1.840500e+04,3.000000,2.000000,2.000000
50%,8.560000e+06,1461.500000,1.490500e+03,0.996000,11.000000,0.000000,2360.00000,2.600200e+04,0.000000,0.000000,...,0.0,0.0,0.0,0.0,NaN,10875.000000,3.882100e+04,3.000000,2.000000,2.000000
75%,1.364700e+07,3137.500000,3.183000e+03,0.996000,18.000000,3978.000000,2363.00000,4.248300e+04,0.000000,0.000000,...,0.0,0.0,0.0,0.0,NaN,57520.250000,8.663200e+04,3.000000,2.000000,2.000000
max,4.798000e+07,45780.000000,9.843842e+06,1.438000,32409.000000,4003.000000,2602.00000,6.303550e+07,13.000000,4352.000000,...,0.0,0.0,0.0,0.0,NaN,555127.000000,6.304868e+07,3.000000,3.000000,3.000000

In [6]:
Urbano  = Superservicios["CAR_T1555_UBICACION"]== "U"
Urbano.head()

0    True
1    True
2    True
3    True
4    True
Name: CAR_T1555_UBICACION, dtype: bool

In [7]:
Urbano1 = Superservicios[Urbano]
Urbano1

,CAR_T1555_DANE,CAR_T1555_UBICACION,CAR_T1555_FCH_INI_PERIODO,CAR_T1555_FCH_FIN_PERIODO,CAR_T1555_SECTOR_CONSUMO,CAR_T1555_TIPO_LECTURA,CAR_T1555_LECTURA_ANT,CAR_T1555_LECTURA_ACT,CAR_T1555_FACTOR_CORRECCION,CAR_T1555_CONSUMO,...,CAR_T1555_REVISION_INTERNA,CAR_T1555_FCH_REVISION_INT,CAR_T1555_OTROS,CAR_T1555_FCH_MAXIMA_PAGO,CAR_T1555_FCH_SUSPENSION,CAR_T1555_TOTAL_FACTURA,CAR_T1555_PREDIAL_UTILIZADO,CAR_T1555_NUMERO_PREDIAL,CAR_T1555_HOGAR_COMUN_SUST,CAR_T1555_VIVIENDA_INT_PRIOR
0,8001000,U,01-12-2021,30-12-2021,1,R,6360.0,6391.0,0.996,31.0,...,0.0,NaN,52374.0,22-01-2022,23-01-2022,94747.0,2.0,080010106000001680020000000000,2.0,2.0
1,47001000,U,28-11-2021,28-12-2021,3,R,8670.0,8698.0,0.998,28.0,...,0.0,NaN,31948.0,21-01-2022,22-01-2022,101794.0,3.0,NaN,2.0,2.0
2,47001000,U,28-11-2021,28-12-2021,1,R,3018.0,3020.0,0.998,2.0,...,0.0,NaN,124516.0,21-01-2022,22-01-2022,126405.0,3.0,NaN,2.0,2.0
3,8001000,U,27-11-2021,27-12-2021,2,R,6263.0,6276.0,0.996,13.0,...,0.0,NaN,3646.0,18-01-2022,19-01-2022,19012.0,2.0,080010106000004240034000000000,2.0,2.0
4,8296000,U,17-12-2021,15-01-2022,1,R,4534.0,4547.0,0.996,13.0,...,0.0,NaN,104963.0,04-02-2022,05-02-2022,117901.0,3.0,NaN,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,8001000,U,10-12-2021,07-01-2022,4,R,1235.0,1237.0,0.996,2.0,...,0.0,NaN,45092.0,28-01-2022,29-01-2022,53773.0,3.0,NaN,2.0,2.0
996,8758000,U,23-12-2021,21-01-2022,1,R,3859.0,3870.0,0.996,11.0,...,0.0,NaN,3782.0,10-02-2022,11-02-2022,14541.0,3.0,NaN,2.0,2.0
997,47001000,U,19-12-2021,18-01-2022,3,R,978.0,991.0,0.998,13.0,...,0.0,NaN,0.0,08-02-2022,09-02-2022,33331.0,3.0,NaN,2.0,2.0
998,8758000,U,19-12-2021,18-01-2022,2,R,3586.0,3596.0,0.996,10.0,...,0.0,NaN,303.0,05-02-2022,06-02-2022,12289.0,3.0,NaN,2.0,2.0
999,8433000,U,11-12-2021,11-01-2022,1,R,1012.0,1014.0,0.996,2.0,...,0.0,NaN,0.0,01-02-2022,02-02-2022,1893.0,3.0,NaN,2.0,2.0

In [8]:
Urbano1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919 entries, 0 to 999
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CAR_T1555_DANE                919 non-null    int64
 1   CAR_T1555_UBICACION           919 non-null    object
 2   CAR_T1555_FCH_INI_PERIODO     919 non-null    object
 3   CAR_T1555_FCH_FIN_PERIODO     915 non-null    object
 4   CAR_T1555_SECTOR_CONSUMO      915 non-null    object
 5   CAR_T1555_TIPO_LECTURA        913 non-null    object
 6   CAR_T1555_LECTURA_ANT         915 non-null    float64
 7   CAR_T1555_LECTURA_ACT         915 non-null    float64
 8   CAR_T1555_FACTOR_CORRECCION   915 non-null    float64
 9   CAR_T1555_CONSUMO             915 non-null    float64
 10  CAR_T1555_FACTU_CARGO_FIJO    918 non-null    float64
 11  CAR_T1555_CARGO_CONSUMO       919 non-null    float64
 12  CAR_T1555_FACTU_CONSUMO       917 non-null    float64
 13  CAR_T1555_VALOR_REFACTURAM3   919 non-null    float64
 14  CAR_T1555_VALOR_REFACTURA$    919 non-null    float64
 15  CAR_T1555_VALOR_MORA_ACUM     917 non-null    float64
 16  CAR_T1555_INTERES_MORA_ACU    914 non-null    float64
 17  CAR_T1555_SANCIONES           919 non-null    float64
 18  CAR_T1555_VALOR_SUBS_CONTR    918 non-null    float64
 19  CAR_T1555_PORC_SUBS_CONTR     913 non-null    float64
 20  CAR_T1555_CONEXION            918 non-null    float64
 21  CAR_T1555_INTERES_FINCONX     914 non-null    float64
 22  CAR_T1555_SUSPEN_RECONEX      914 non-null    float64
 23  CAR_T1555_CORTE_REINSTAL      914 non-null    float64
 24  CAR_T1555_REVISION_INTERNA    914 non-null    float64
 25  CAR_T1555_FCH_REVISION_INT    0 non-null      float64
 26  CAR_T1555_OTROS               919 non-null    float64
 27  CAR_T1555_FCH_MAXIMA_PAGO     904 non-null    object
 28  CAR_T1555_FCH_SUSPENSION      912 non-null    object
 29  CAR_T1555_TOTAL_FACTURA       917 non-null    float64
 30  CAR_T1555_PREDIAL_UTILIZADO   914 non-null    float64
 31  CAR_T1555_NUMERO_PREDIAL      175 non-null    object
 32  CAR_T1555_HOGAR_COMUN_SUST    915 non-null    float64
 33  CAR_T1555_VIVIENDA_INT_PRIOR  908 non-null    float64
dtypes: float64(25), int64(1), object(8)
memory usage: 251.3+ KB

In [9]:
Inicio  =  Superservicios["CAR_T1555_FCH_INI_PERIODO"]
Inicio = pd.DataFrame(Inicio )
Inicio

    CAR_T1555_FCH_INI_PERIODO
0                  01-12-2021
1                  28-11-2021
2                  28-11-2021
3                  27-11-2021
4                  17-12-2021
..                        ...
995                10-12-2021
996                23-12-2021
997                19-12-2021
998                19-12-2021
999                11-12-2021

[1000 rows x 1 columns]

In [10]:
Fin  = Superservicios["CAR_T1555_FCH_FIN_PERIODO"]
Fin  = pd.DataFrame(Fin )
Fin

    CAR_T1555_FCH_FIN_PERIODO
0                  30-12-2021
1                  28-12-2021
2                  28-12-2021
3                  27-12-2021
4                  15-01-2022
..                        ...
995                07-01-2022
996                21-01-2022
997                18-01-2022
998                18-01-2022
999                11-01-2022

[1000 rows x 1 columns]